/*font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

/*TITLE*/
#title{
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
}
#Y{
  color: #02F7D6;
}
#L{
  color: #BDF705;
}
#under_title{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 120px;
}



/*NAV BAR*/
nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  /*margin-top: 40px;*/
  padding: 30px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(o, 0, 0, 1);
}
#nav-1 {
  background-color: transparent;
}

.nav_names{
  transition: 0.3s ease;
  background-color:transparent;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}
.nav_names:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
  color: #FFFFFF;
  text-decoration: none;
}





/*HOMEPAGE IMG*/
.title_img{
  position: relative;
   width: 100%;
}
#title_pic{
  width: 100%;
  height: 650px;
  opacity: 50%;
  filter: sepia(5%);
  vertical-align: baseline;
}
h2 {
   position: absolute;
   top: 325px;
   text-align: center;
   width: 100%;
   color: white;
   font-family: 'EB Garamond', serif;
   font-weight: bolder;
   font-size: 55px;
   /*border-radius: 0 0 10px 10px;*/
   /*border-color: white;*/
}
/**/



/*SPACER*/
#spaces{
  height: 30%px;
}
/**/


/*THUMBNAIL CAROUSAL*/
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
/**/
